.DS_Store

.idea/
*.iml

.vscode/
.history/

.env

.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

.ansible/

infrastructure/hosts_rendered.yml
infrastructure/ngrok_tunnels.json
infrastructure/secrets.yml
