.DS_Store

.idea/
.vscode/
.history/

.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

infrastructure/hosts_rendered.yml
infrastructure/secrets.yml
