.DS_Store

.idea/
.vscode/
.history/

/docker-compose.local.yml

.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

infrastructure/hosts_rendered.yml
infrastructure/secrets.yml
