export DOCKER_HOST=ssh://kafka-labs

export SPARK_INSTANCE_IP_ADDRESS=$(cd "../infrastructure" && (terraform output -json kafka_private_ip | jq -r .))
export SPARK_INSTANCE_USERNAME="ec2-user" # $ whoami
export SPARK_INSTANCE_UID="1000"          # $ id -u
export SPARK_INSTANCE_GID="1000"          # $ id -g

export SPARK_MODULE_PATH="/home/ec2-user/kafka-labs/spark"
